<div>
  <h2>Liste des Planning : </h2>

  <div class="container">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Gestionnaire</th>
        <th>Module</th>
        <th>VideoProj</th>
        <th>Salle</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let p of planning">
        <td>{{p.idPlanning}}</td>
        <td>{{p.dateDebut}}</td>
        <td>{{p.dateFin}}</td>
        <td *ngIf="p.gestionnaire!=null">{{p.gestionnaire}}</td>
        <td *ngIf="p.gestionnaire==null">Pas de Gestionnaire</td>
        <td><a [routerLink]="['/planning','module', p.idPlanning]" class="btn btn-info">Voir Modules</a></td>
        <td *ngIf="p.videoProj!=null">{{p.videoProj.code}}</td>
        <td *ngIf="p.videoProj==null">Pas de videoprojecteur</td>
        <td *ngIf="p.salle!=null">{{p.salle.code}}</td>
        <td *ngIf="p.salle==null">Pas de salle</td>
        <td><a [routerLink]="['/planning','edit', p.idPlanning]" class="btn btn-info">Modifier</a></td>
        <td>
          <button (click)="deletePlanning(p.idPlanning)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </table>
    <a [routerLink]="['/planning','edit']" class="btn btn-success">Creer Nouveau Planning</a>
  </div>


</div>
