<div class="container">
  <br/>
  <h2>Liste des Formateurs : </h2>
  <br/>
  <table class="table" style="text-align: center">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let f of listeFormateurs;index as i">
      <td>{{ f.id }}</td>
      <td>{{ f.nom }}</td>
      <td>{{ f.prenom }}</td>
      <td>{{ f.mail }}</td>
      <td>{{ f.telephone }}</td>
      <td *ngIf="f.adresse">{{ f.adresse.numero }} {{ f.adresse.rue }} {{ f.adresse.codePostal }} {{ f.adresse.ville }}</td>
      <td *ngIf="!f.adresse"></td>
      <td><button class="btn btn-primary" [routerLink]="['/formateur','edit',f.id]">Editer</button></td>
      <td><button class="btn btn-success" [routerLink]="['/formateur','listeMatieres',f.id]">Matieres</button></td>
      <td><button class="btn btn-danger" (click)="supp(f.id)">Supprimer</button></td>
    </tr>
  </table>
  <br/>
  <a [routerLink]="['/formateur','edit']" class="btn btn-dark">Ajouter un formateur</a>
</div>
